# Puppetlabs products
deb {{ debian_apt_url }} wheezy main
deb-src {{ debian_apt_url }} wheezy main

# Puppetlabs dependencies
deb {{ debian_apt_url }} wheezy dependencies
deb-src {{ debian_apt_url }} wheezy dependencies