[puppetlabs-products]
name=Puppet Labs Products El 6 - $basearch
baseurl={{ puppetlabs_redhat_repo_baseurl }}
gpgkey={{ puppetlabs_redhat_gpg_key }}
enabled=0
gpgcheck=1

[puppetlabs-deps]
name=Puppet Labs Dependencies El 6 - $basearch
baseurl={{ puppetlabs_redhat_repo_baseurl }}
gpgkey={{ puppetlabs_redhat_gpg_key }}
enabled=0
gpgcheck=1
