# Puppetlabs products
deb {{ puppetlabs_debian_apt_url }} trusty main
deb-src {{ puppetlabs_debian_apt_url }} trusty main

# Puppetlabs dependencies
deb {{ puppetlabs_debian_apt_url }} trusty dependencies
deb-src {{ puppetlabs_debian_apt_url }} trusty dependencies